@import "tailwindcss";

@theme inline {
  --color-background: var(--color-white);
  --color-background-main: var(--color-gray-200);
  
  --color-accent: rgb(194, 212, 255);
  
  --color-btn: rgb(20, 75, 200);
  --color-btn-content: white;
  --color-btn-hover: var(--color-accent);
  --color-btn-hover-content: var(--color-btn);
  
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-read: var(--font-inter);
  --font-accent: var(--font-monserrat);
}

/* @media (prefers-color-scheme: dark) { */
/* :root { */
/* --background: #0a0a0a; */
/* --foreground: #ededed; */
/* } */
/* } */

body {
  font-family: Arial, Helvetica, sans-serif;
}

